<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to MusicLust!</h1>
    <a href= "/performs">Check It Out</a>
  </body>
</html>