body {
  padding: 50px;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
  background-color: rgba(218, 227, 230);
}

hr { 
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 2px;
}

.header{
  text-align: center;
}

.newShow {
  text-align: center;
  color: black;
}

.newForm {
  text-align: center;
  color: black;
}

.performsForm {
  object-position: center;
}

.band {
  text-align: center;
  color: black;
}

.home {
  text-align: center;
}

.video {
  object-position: center;
}