<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Maven+Pro" rel="stylesheet">
  <title>MusicLust | Update Show</title>
</head>
<body>
    <a href= "/performs">Back</a>
    <h1 class="newShow">Changes to a show? Fix them here!</h1><hr>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Location</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <% if (performs.length > 0) { %>
              <% performs.forEach(function(p) { %>
                  <tr>
                      <td><%= p.location %></td>
                      <td><%= p.date %></td>
                      <td><%= p.time %></td>
                  </tr>
                  <tr>
                      <td>
                      <form action="/performs/<%= p._id %>?" method="POST" class="performsForm">
                      <button type="submit">Edit</button>
                      </form>
                      </td>
    <label>Location:</label>
    <input type="text" name="location">
    <label>Date:</label>
    <input type="date" name="date">
    <label>Time</label>
    <input type="time" name="time">
    <input type="submit" value="Update Show">
  </form>
  </body>
  </html>
