<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>MusicLust | Add New Show</title>
</head>
<body>
    <a href="/logout"><i class="material-icons left"></i>Log Out</a><br>
    <a href= "/performs">Back</a>
    <h1 class="newShow">Heard of a new show? Add it here!</h1><hr>
    <form class="newForm" action="/performs" method="POST">
    <label>Location:</label>
    <input type="text" name="location">
    <label>Date:</label>
    <input type="date" name="date">
    <label>Time:</label>
    <input type="time" name="time">
    <input type="submit" value="Add Show">
  </form>
  <iframe class="video" width="800" height="479" src="https://www.youtube.com/embed/KososxxBy0M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </body>
  </html>