<form id="new-form" action="/performs" method="POST">
    <label>Location:</label>
    <input type="text" name="location">
    <label>Date:</label>
    <input type="date" name="date">
    <label>Time</label>
    <input type="time" name="time">
    <input type="submit" value="Add Show">
  </form>